n8n-workflows/connectors/daily-briefing.n8n
{
  "updatedAt": "2026-05-11T08:25:54.558Z",
  "createdAt": "2026-05-11T08:25:54.402Z",
  "id": "CxmhhFiJeYOHt5mk",
  "name": "Daily Briefing Workflow",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-briefing",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.JIRA_BASE_URL }}/rest/api/3/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth"
      },
      "id": "2",
      "name": "Jira",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        100
      ]
    },
    {
      "parameters": {
        "url": "https://api.bitbucket.org/2.0/repositories/{{ $env.BITBUCKET_USERNAME }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth"
      },
      "id": "3",
      "name": "Bitbucket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth"
      },
      "id": "4",
      "name": "Gmail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "mergeByPosition"
      },
      "id": "5",
      "name": "Aggregator",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "model": "claude-3-opus-20240229",
        "messages": {
          "messageValues": [
            {
              "message": "Summarize the following tickets, PRs, and emails: {{ $json }}"
            }
          ]
        }
      },
      "id": "6",
      "name": "Anthropic",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8765/api/v1/n8n/callback/{{ $('Webhook Trigger').item.json.body.inputs._run_id }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "output",
              "value": "={{ $json.message.content[0].text || 'Summary completed' }}"
            }
          ]
        }
      },
      "id": "7",
      "name": "HTTP Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Jira",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bitbucket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bitbucket": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Aggregator",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Aggregator": {
      "main": [
        [
          {
            "node": "Anthropic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic": {
      "main": [
        [
          {
            "node": "HTTP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "df3eacb9-7b7d-4ed0-ae35-cce6fe467307",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:25:54.402Z",
      "createdAt": "2026-05-11T08:25:54.402Z",
      "role": "workflow:owner",
      "workflowId": "CxmhhFiJeYOHt5mk",
      "projectId": "QSjMomL4b9bQVthj",
      "project": {
        "updatedAt": "2026-04-03T07:31:17.484Z",
        "createdAt": "2026-04-03T07:31:17.484Z",
        "id": "QSjMomL4b9bQVthj",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "59f7fcf6-ccf3-4bdb-b24a-39d8d59b1a43",
        "projectRelations": [
          {
            "updatedAt": "2026-04-03T07:31:17.484Z",
            "createdAt": "2026-04-03T07:31:17.484Z",
            "userId": "59f7fcf6-ccf3-4bdb-b24a-39d8d59b1a43",
            "projectId": "QSjMomL4b9bQVthj",
            "user": {
              "updatedAt": "2026-05-11T08:09:59.872Z",
              "createdAt": "2026-04-03T07:31:16.287Z",
              "id": "59f7fcf6-ccf3-4bdb-b24a-39d8d59b1a43",
              "email": null,
              "firstName": null,
              "lastName": null,
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-05-11T06:54:50.420Z",
                "personalization_survey_n8n_version": "2.4.7",
                "automationGoalDevops": [
                  "other",
                  "ci-cd",
                  "monitoring-alerting",
                  "data-syncing"
                ],
                "companySize": "personalUser",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": false
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-11",
              "isPending": true
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}